<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PluginVersion</key>
	<string>0.5.0</string>
	<key>ServerApiVersion</key>
	<string>2.0</string>
	<key>IwsApiVersion</key>
	<string>1.0.0</string>
	<key>CFBundleDisplayName</key>
	<string>HomeKit Bridge</string>
	<key>CFBundleIdentifier</key>
	<string>com.eps.indigoplugin.homekit-bridge</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>http://forums.indigodomo.com/viewtopic.php?f=201</string>
		</dict>
	</array>
</dict>
</plist>
